language: node_js

sudo: false

node_js:
  - "4.2.1"

env:
  global:
    - "DOCKER_TRIGGER=curl -H "Content-Type: application/json" --data '{"build": true}' -X POST https://registry.hub.docker.com/u/fcojriosbello/testingndeploying/trigger/4fcbd380-e094-4c28-9bab-95f7fe62001a/"

after_success:
  $DOCKER_TRIGGER
